<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>logout</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <form action="/logout" class="form" method="get">
      <h1>Hi,<%= username %></h1>

      <h1 style="font-size: smaller">your password,<%= password %></h1>

      <button class="ok">logout</button>
    </form>
  </body>
</html>
